numpydoc

recommonmark

mock
autodoc
overrides
torch>=1.1.0

# if using typehints
sphinx-autodoc-typehints


# Builds our documentation.
sphinx>=2.1.1

# Watches the documentation directory and rebuilds on changes.
sphinx-autobuild

# doc theme
sphinx_rtd_theme

# Only used to convert our readme to reStructuredText on Pypi.
pypandoc

# Pypi uploads
twine>=1.11.0